body{
    background: rgb(244, 242, 242);
   max-width: 850px; 
   width:100%;
   height: 100%;
    margin-left: 0px;
    font-family: "Arial";
}

img{
    width: 150px;
    float: right;
    margin: 20 10 20px 20px;
}
p{
    padding-left: 50px;
    margin-block-start:0px;
    margin-block-end:5px;
    font-style: italic;
}
ul{
    margin-block-start:0px;
    margin-block-end:20px;
 
}


h1{
    color : rgb(6, 66, 6);
    padding-left: 50px;
    
}

h2{
    color : rgb(6, 66, 6);
    padding-left: 200px; 
}

h3 {
color : Green;
border: 1px solid black;
padding:10px;
padding-left: 30px; 
margin-left:50px;
margin-block-start:0px;
}

li{
    font-family: "Arial";
    font-weight: 0px;
    margin-left:50px;
    padding: 4px;
    min-width: 70%;
}
pre{
    margin-left:30px;
}
div{
    padding-block-start:0px;
    min-width: 70%;
}





